@import '../../../style/base';

.textmodulelong {
  display: flex;
  align-items: center;
  justify-content: center;

  .headline {
    // padding-left: 30px
    text-align: center;

    h2 {
      color: white;
      text-transform: none;
    }
    h3 {
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: 700;
    }
    // &.theme-dark h2
    //   color: $font-main-alt

    .feature-points {
      display: flex;
      justify-content: space-between;
      margin-top: 130px;
      flex-direction: row-reverse;
      text-align: right;
    }

    .point {
      flex: 0 1 33%;
      margin-right: 55px;

      a {
        color: white;
        text-decoration: none;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &.contact {
      .point {
        position: absolute;
        bottom: -200px;
      }
    }
  }
}
