@import '../../style/base';

.carousel {
  height: 570px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  position: relative;

  .carousel-item {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 100ms;
    transform: translateX(-100%);

    &.active {
      transition: transform 100ms;
      transform: translateX(0%);
    }

    .carousel-text {
      position: absolute;
      bottom: 0;
      color: #fff;
      text-align: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: bold;

      p {
        margin: 0;
        padding: 20px;
      }
    }

    img {
      width: 100%;
    }
  }

  .container {
    bottom: 40px;
    position: absolute;
    left: 50%;
  }

  .arrow {
    position: absolute;
    width: 50px;
    top: calc(50% - 60px);
    padding: 10px;
    cursor: pointer;

    &.next {
      right: 0;
    }
  }
}
